/**  Colors  */
// bg - background
// bc - border-color
// fc - font-color
// c - color(usually the local background)
// lg - linear-gradient

/**  Sizes  */
// fs - font-size
// lh = line-height

/**  Fonts  */
// ff - font-family


@ff-Montserrat:'Montserrat', sans-serif;
@ff-Crimson: 'Crimson Text', serif;
@ff-Amsdam: 'Amsdam', serif;



@fc-main-logo: #757575;

@fc-main-menu: #aaaaaa;

@fc-color-dark-grey: #3e3d3d;

@bg-blog: #e3e3e3;
@bg-blog-wrapper-light: #424244;
@fc-blog: #949494;

@bg-history: #ededed;
@bg-history-timeline: #424141;
@bc-history-message: #464646;

@bg-prices-line: #504f4f;

@bg-proposal: #2d2d2f;

@fc-services: #cfcfcf;

@bc-contact-input: #3e3e3e;